@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --orange: #FE6346;
  --blue: #5CAADE;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

.logo {
  width: 90px;
}

ul {
  list-style: none;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  width: calc(25% - 30px);
  li {
    font-size: 1.5rem;
    letter-spacing: 3px;
  };
}

nav {
  position: fixed;
  top: 0;
  width: calc(100vw - 30px);
  transition: top 0.3s;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.09) 0px 7px 29px 0px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 25px 15px;
  z-index: 1;
  h3 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: center;
    letter-spacing: 3px;
    font-weight: 400
  };
  a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 400;
  }
}

.container {
  margin: auto;
  width: 80%;
}

.sections {
  display: flex;
}

#home {
  height: calc(100vh + 80px);
  img {
    width: 100%;
    height: min-content;
  }
}

#infos-home {
  grid-template-columns: 1fr 1.3fr;
  h1 {
    font-weight: 400;
    align-self: center;
    color: var(--blue);
    padding: 0 0 0 5%;
    font-size: 2rem
  };
}

.infos-perfil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  h3 {
    color: black;
    font-weight: 300;
  };
  img {
    border-radius: 5px;
    align-self: center;
    width: 100%;
    height: 100vh
  }
}


/* span {
  font-size: 1.5em;
  color: black;
  text-wrap: nowrap;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
} */

.details {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  li {
    color: white;
    font-size: 15px;
  }
}

.card-work {
  background: rgb(252, 252, 252);
  padding: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  height: min-content;
  margin-right: 15px;
}

.about {
  margin-right: 0;
  padding: 15px;
  height: calc(100% - 30px);
}

.textos-work {
  display: flex;
  flex-direction: column;
  gap: 15px;
  a {
    font-weight: 900;
    text-align: center;
    color: var(--blue);
    transition: .4s ease-in-out;
  }
}

#border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.133);
  display: block;
}

#about {
  padding: 25px 100px;
  h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-style: italic;
  };
  a {
    font-size: 2em;
    color: var(--blue);
    font-style: italic;
    letter-spacing: 3px;
    font-weight: 300;
    text-decoration-thickness: 1.5px;
  }
  .links-about {
    display: inline-flex;
    gap: 15px;
  }
}

.title-about {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  p {
    align-self: center;
  }
}

.hability {
  padding: 25px 0;
  h2 {
    font-size: 2em;
    font-weight: 300;
  };
  h3 {
    font-weight: 300;
  }
  h4 {
    font-weight: 300;
    width: 50%;
    padding: 15px 0;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 25px 0;
    li {
      font-weight: 300;
      font-size: 1em;
      transition: .4s ease-in-out;
      span {
        font-size: 2em;
        font-weight: 800;
        font-style: italic;
        text-wrap: nowrap;
        display: block;
        text-align: center;
      }
    }
  }
}

.hability {
  li:hover {
    background-color: var(--blue);
    color: white;
    transform: scale(1.15);
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  }
}

.textos-work {
  a:hover {
    background-color: var(--blue);
    color: white;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  }
}

.animation {
  opacity: 0;
  transform: translateX(-300px);
  transition: all .6s ease-in-out;
  transition-delay: 0.3s;
}

.animation-img {
  transform: translateX(100px);
}

.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

/* Teste ///////////////////// */
.codinfox-changing-keywords{
  vertical-align:top;
  height:20px;
  position:relative;
  display: inline-block;
  width: 250px;
  text-wrap: nowrap;
}
.hidden{
  position:absolute;
  top: 20px;
  display:inline-block;
  width:100%;
  opacity:0;
  animation: slideme 6s infinite ease-in-out;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-style: italic;
  font-size: 1.5em;
}
.hidden:nth-child(3){
  animation-delay: 2s;
}
.hidden:nth-child(5){
  animation-delay: 4s;
}
.hidden:nth-child(7){
  animation-delay: 6s;
}

@keyframes slideme {
  0% {
    top: 20px;
    opacity:0;
  }
  5% {
    top: -15px;
    opacity:1;
  }
  10%{
    top : -15px;
    opacity:1;
  }
  20%{
    opacity:1;
  }
  25% {
  opacity:0.1;
    top :-15px;
  }
  30% {
    opacity:0;
    top: 20px;
  }
}
/* //////////////////////////////// */

#contact-link {
  text-align: center;
  margin: 25px 0;
  a {
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration-thickness: 2px;
    transition: .3s ease-in;
  };
  a:hover {
    color: var(--blue);
  }
}

.certificates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  h3 {
    margin-bottom: 25px;
  }
  img {
    width: 95% ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .4s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
  }
}

 /* //////////////////////RESPONSORIO/////////////////////////////// */
@media(max-width: 1439px) and (min-width: 1009px) {
  nav {
    h3 {
      font-size: 1.2rem;
    }
    a {
      font-size: 1.2rem;
    }
  }
  #infos-home {
    h1 {
      font-size: 1.5rem;
    }
  }
  .infos-perfil {
    grid-template-columns: 1fr 1.5fr;
  }
  .card-work {
    h3 {
      font-size: .8rem;
    }
  }
  .textos-work {
    a {
      font-size: .8rem;
    }
  }
  .hability {
    ul {
      li {
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
  #contact-link {
    a {
      font-size: 3rem;
    }
  }
}
@media(max-width: 1008px) and (min-width: 735px) {
  .container {
    width: 75%;
  }
  nav {
    width: calc(100% - 30px);
    padding: 15px;
    h3 {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
  }
  #infos-home {
    h1 {
      font-size: 1rem;
    }
  }
  .hability {
    ul {
      li {
        font-size: .7rem;
        span {
          font-size: .9rem;
        }
      }
    }
  }
  #nav-links {
    width: calc(35% - 30px);
  }
  @keyframes slideme {
    0% {
      top: 20px;
      opacity:0;
    }
    5% {
      top: -5px;
      opacity:1;
    }
    10%{
      top : -5px;
      opacity:1;
    }
    20%{
      opacity:1;
    }
    25% {
    opacity:0.1;
      top :-5px;
    }
    30% {
      opacity:0;
      top: 20px;
    }
  }
  .infos-perfil {
    display: flex;
    flex-direction: column-reverse;
  }
  #infos-home {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .textos-work {
    margin-bottom: 25px;
  }
  .card-work {
    padding: 20px;
    margin: 0;
  }
  .about {
    padding: 15px;
  }
  #contact-link {
    a {
      font-size: 2rem;
    }
  }
  #about {
    h1 {
      font-size: 4rem;
    }
  }
}
@media(min-width: 0) and (max-width: 735px) {
  .container {
    margin: auto;
    width: calc(100% - 20px);
  }
  nav {
    width: calc(100% - 20px);
    padding: 10px;
    h3 {
      font-size: .7rem;
    }
  }
  #nav-links {
    display: flex;
    justify-content: space-between;
    width: calc(60% - 20px);
    li {
      font-size: .7rem
    }
  }
  #home {
    height: calc(100vh + 20px);
  }
  .infos-perfil {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    img {
      width: 100%;
      height: fit-content;
    }
  }
  .textos-work {
    margin-bottom: 15px
  }
  #infos-home  {
    display: grid;
    grid-template-columns: 0 1fr;
    h1 {
      padding-left: 5%;
      font-size: 1.2rem;
    }
  }
  .codinfox-changing-keywords {
    width: 0;
  }
  .hidden {
    font-size: 1.5rem ;
  }
  .animation {
    transform: translateX(0px);
  }
  .card-work {
    margin-right: 0;
    padding: 25px;
  }
  @keyframes slideme {
    0% {
      top: 20px;
      opacity:0;
    }
    5% {
      top: -4px;
      opacity:1;
    }
    10%{
      top : -4px;
      opacity:1;
    }
    20%{
      opacity:1;
    }
    25% {
    opacity:0.1;
      top :-4px;
    }
    30% {
      opacity:0;
      top: 20px;
    }
  }
  #about {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: .8rem;
    }
    .links-about {
      gap: 5px;
      a {
        font-size: 1rem;
      }
    }
  }
  .hability {
    h2 {
      font-size: 1.5rem;
    }
    ul {
      gap: 5px;
      grid-template-columns: 1fr 1fr;
      li {
        font-size: .7rem;
        span {
          font-size: .9rem;
        }
      }
    }
    h4 {
      width: 100%;
    }
    h3 {
      padding: 10px 0;
    }
  }
  .about {
    height: fit-content;
    padding: 10px;
  }
  .certificates {
    grid-template-columns: 1fr;
  }
  #contact-link {
    a {
      font-size: 2rem;
    }
  }
}
 /* //////////////////////////////////////////////////////////////// */
